{% extends "inc/base.html" %}

{% block content %}


<div class="row">
    <div class="col-3">
        <h2 class="mt-5">Log in</h2>
    </div>
</div>

<div class="row">
    <div class="authorize-error">
        Sorry, wrong password
    </div>
</div>


<div class="row my-3">
    <div class="col-2">
        <span>Login</span>
    </div>
    <div class="col-4">
        <input class="auth-input" type="text">
    </div>
</div>

<div class="row my-3">
    <div class="col-2">
        <span>Password</span>
    </div>
    <div class="col-4">
        <input class="auth-input" type="password">
    </div>
</div>


<div class="row my-4">
    <div class="col-2">

    </div>
    <div class="col-4">
        <button class="auth-login-button">Log in</button>
    </div>
</div>


<div class="row my-4">
    <div class="col-2">

    </div>
    <div class="col-4">
        <a href="{% url "signup" %}">create new account</a>
    </div>
</div>


{% endblock %}
