{% extends "inc/base.html" %}

{% block content %}


<div class="row">
    <div class="col-3">
        <h2 class="mt-5">Settings: Shvabra</h2>
    </div>
</div>

<div class="row my-3">
    <div class="col-2">
        <span class="settings-setting">Login</span>
    </div>
    <div class="col-4">
        <input class="settings-input" type="text">
    </div>
</div>

<div class="row my-3">
    <div class="col-2">
        <span class="settings-setting">Email</span>
    </div>
    <div class="col-4">
        <input class="settings-input" type="text">
    </div>
</div>

<div class="row my-3">
    <div class="col-2">
        <span class="settings-setting">NickName</span>
    </div>
    <div class="col-4">
        <input class="settings-input" type="text">
    </div>
</div>

<div class="row my-4">
    <div class="col-2">
        <span class="settings-setting">Upload avatar</span>
    </div>
    <div class="col-4">
        <img class="settings-avatar" src="../static/img/kitty1.jpg" alt="your avatar">
    </div>
</div>


<div class="row my-3">
    <div class="col-2">

    </div>
    <div class="col-4">
        <button class="settings-choose-avatar-button">Choose</button>
    </div>
</div>


<div class="row my-4">
    <div class="col-2">

    </div>
    <div class="col-4">
        <button class="settings-save-button">Save</button>
    </div>
</div>


{% endblock %}
