.header-links {
    display: flex;
    flex-direction: column;
    margin: auto 10px;
}

.header-links * {
    margin: 0;
    padding: 0;
}

.header__button {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.header__avatar {
    width: 32px;
    height: 32px;
    background-color: #900;
}

.header__container {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* .myflex {
    margin: 0;
    padding: 0;
    background-color: #900;
    height: 300px;
    width: 300px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.myflex > li {
    margin: 5px;
    list-style-type: none;
    color: white;
} */
